<div class="lock">

    @for(rotation of rotations(); track $index){

    <div class="dial">

        <svg viewBox="0 0 120 120">

            <!-- círculo -->

            <circle cx="60" cy="60" r="46" class="ring" />

            <!-- posiciones -->

            <circle cx="60" cy="12" r="3" class="point" />
            <circle cx="94" cy="26" r="3" class="point" />
            <circle cx="108" cy="60" r="3" class="point" />
            <circle cx="94" cy="94" r="3" class="point" />
            <circle cx="60" cy="108" r="3" class="point" />
            <circle cx="26" cy="94" r="3" class="point" />
            <circle cx="12" cy="60" r="3" class="point" />
            <circle cx="26" cy="26" r="3" class="point" />

            <!-- aguja -->

            <line x1="60" y1="60" x2="60" y2="20" class="needle" [attr.transform]="
            'rotate(' + rotation + ' 60 60)'
            ">

            </line>

            <!-- centro -->

            <circle cx="60" cy="60" r="6" class="center" />

        </svg>

    </div>

    }

</div>