<div class="course-card">

    <div class="course-header">

        <div class="course-icon">

            📚

        </div>

        <div class="course-info">

            <h2>

                {{ course().name }}

            </h2>

            <span>

                {{ course().id }}

            </span>

        </div>

    </div>

   <div class="actions">

        <button
            type="button"
            (click)="onAction()">

            {{ actionText() }}

        </button>

        @if(secondaryActionText()){

            <button
                class="secondary"
                (click)="secondaryAction.emit(course())">

                {{ secondaryActionText() }}

            </button>

        }

    </div>

</div>